.container {
  margin: auto;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('Ninja_group.webp');
  background-size: cover;
}

h1 {
  text-align: center;
  color: #12e320;
  margin-top: 20px;
  font-size: 300%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: bisque;
  padding: 15px;
  border-radius: 10px;
}

h2 {
  color: #111;
  opacity: 120%;
}

#main {
  background-color: #fff;
  height: 100%;
  color: rgb(106, 182, 13);
  font-size: xx-large;
  opacity: 90%;
}

#number1,
#number2 {
  color: rgb(56, 56, 244);
  opacity: 100%;
}

.btn {
  font-size: large;
  padding: 10px;
  background-color: rgb(12, 101, 235);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 100%;
}
#startBtn {
  margin: 10px 0 20px 10px;
  align-self: center;
  font-size: xx-large;
}
.checkBtn {
  margin: 10px auto 0 40px;
  justify-self: center;
  align-self: center;
  background-color: rgb(142, 11, 223);
  width: 80%;
}

.problem {
  display: inline-block;
  margin-left: 20px;
  height: 50%;
}

#answer {
  font-size: xx-large;
  width: 100px;
  text-align: center;
  margin: 0 50px;
  color: rgb(255, 60, 92);
  border: 2px solid #ccc;
  border-radius: 5px;
}

#feedback {
  font-size: x-large;
  color: rgb(237, 130, 6);
  height: 30px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 15px 0 15px;
}

#score {
  font-size: x-large;
  color: rgb(236, 152, 26);
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#lastResults {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  color: rgb(4, 125, 28);
  margin: 10px 0;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border: 2px solid orange;
}
